@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=3af16084-ba56-49ca-b37d-0b49b59e1927");html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}@font-face{font-family:"AleoRegular";src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.eot);src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.eot?#iefix) format('embedded-opentype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.woff) format('woff'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.ttf) format('truetype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.svg) format('svg')}@font-face{font-family:"AleoBold";src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.eot);src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.eot?#iefix) format('embedded-opentype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.woff) format('woff'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.ttf) format('truetype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.svg) format('svg')}@font-face{font-family:"ProximaNovaBold";src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot);src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix) format('embedded-opentype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff) format('woff'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf) format('truetype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/8152bc4e-d700-4c78-b6be-326893e6f53f.svg) format('svg')}body{overflow:hidden;background-color:#BAB8BA;}

#map{position:absolute;top:0;left:0;width:100%;height:100%}


#slides_container{display:none;position:absolute;top:30px;left:40px;width:50%;max-width:500px; padding:10px;background-color:#F5F9FC;opacity: 0.9;box-shadow: 5px 5px 5px #5E5E5E;z-index:10}
#slides_container.visible{margin:bottom:40px; display:block !important }
#slides_container .slide{display:none;overflow-y:auto;padding-right:20px;}
#slides_container .slide.selected{margin:bottom:40px; display:block !important}
#slides_container .slide.selected p{font-family:Arial, sans-s;}
#slides_container .slide.scrolled img{margin:5px 0;width:100%}
#slides_container .slide strong{font-family:"AleoBold"}
#slides_container .slide em{font-style:italic}
#slides_container h1,
#slides_container h1:after {font-family:'Aboriginal Serif', serif;color:#333;font-size:30px;margin-bottom:20px; text-align:center;},
#slides_container span{font-family:AleoRegular, Serif;color:#333;font-size:25px;margin:0 0 5px 0}
#slides_container a{color:#2D7790;text-decoration:underline; font-size: 16px;}
#slides_container a:hover{color:#25242e;}
#slides_container a{target="_blank"}
#slides_container img{margin:5px 0;max-width:100%}
#slides_container p {margin-bottom:12px;}
#slides_container h2 {margin-bottom:2px;font-family: Arial, sans-s;}
#slides_container img[alt=drawing] { margin-left:25%; width:50%;max-width: 150px !important}
#slides_container h3 {text-align:center; margin-bottom:12px;font-family: Arial, sans-s;}



#front_slide.hidden{display:none}

#dots{margin:0 0 20px 0}
#dots li{display:inline}
#dots li a{opacity:0.2;color:#333;text-decoration:none;}

#dots li a:before{content:' \25CF';font-size:25px;text-decoration:none;}
#dots li a.active{opacity:1; color: #2D7790;text-decoration:none;}
#dots li a:hover{opacity:1;cursor:pointer;text-decoration:none;}


ul#navButtons{position:absolute; bottom:15px; margin-left: 5px;}
ul#navButtons li{width:30px;display:inline}
ul#navButtons li a{display:inline-block;width:23px;height:30px;}
ul#navButtons li a:hover{background-position:-10px -30px;cursor:pointer}
ul#navButtons li a.next{}
ul#navButtons li a.next:hover{background-position:-30px -30px}


#home-button {
background-color:#858585; border-radius:5px; height:36px; width:36px;display:inline-block;margin-right:10px; margin-left:10px;
}
#forward {
background-color:#c7503e; border-radius:5px; height:36px; width:56px;display:inline-block;margin-right:30px; margin-left:10px;
}
#back {
background-color:#858585; border-radius:5px; height:36px; width:36px;display:inline-block;margin-right:10px; margin-left:10px;
}
#run-button {
background-color:#858585; border-radius:5px; height:36px; width:58px;display:inline-block;margin-right:10px;
}
#run-button a {
    vertical-align: bottom;
    color: #F5F9FC;
    font-size: 12px;
    font-family:Arial, sans-s;
    text-decoration: none;
}

#run-button a :hover{
    color: #F5F9FC;
    text-decoration: none;
}

#home-button img {width:26; height:26;
}
#corner a{font-family: 'Californian FB', serif; font-size:14px; text-decoration: none;}

div#credits{position:absolute;bottom:0;left:0;right:0;height:15px;width:195px;background-color:#FFF;opacity:.7;z-index:1000001}div#credits a{color:#ff7373}div#credits span{padding:2px;position:absolute;font-size:11px;text-transform:uppercase}div#credits span.title{left:30px;font-family:'Proxima N W01 Bold', Sans-serif;color:#333}div#credits span.author{right:30px;font-family:AleoRegular, Serif;color:#999;letter-spacing:2px;font-size:10px;text-align:right}




